{% extends 'home/base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}


{% block content %}
<main class="container">
    <h1>Dashboard</h1>
    <p>Welcome, {{ user.username }}!</p>

    <h2>Your Information</h2>
    <ul>
        <li>Email: {{ user.email }}</li>
        <li>Last login: {{ user.last_login }}</li>
    </ul>

    <h2>Actions</h2>
    <ul>
        <li><a href="#">Change Password</a></li>
        <li><a href="#">Edit Profile</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</main>
{% endblock %}