body {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
      radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
  }
  

.container-for-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */ 
    /* padding: 5px;  */
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height:fit-content;
    overflow: hidden;
    
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* .contianer-for-text  {
    text-align: center;
    color: blue;
} */


canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
    position: absolute;
    bottom: 2vmin;
    right: 2vmin;
    color: rgba(255,255,255,0.2);
    text-decoration: none;
}

.space-container {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
}

/* getting rid of this hover gets rid of the animation affect  */
a:hover {
    color: #fff;
}


/* this style is for the title of the home page */


.bold-txt {
    font-weight: 500px; 
    font-size: 65px;
    /* color: #072ac8 !important; */
}

/* this styling below was added as a result of some problems with the styling being applied, works fine now */
h1.bold-txt {
    color: #023e8a;
}


/* this is the styling for the sign up and login buttons on the home screen */

.btns-container { 
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
    gap: 10px;
     /* Add spacing between buttons */ 
    } 

.login-btn {
    border-radius: 35px;
    /* background-image: linear-gradient(#ced0f7, #04055b); */
    background-color: black;
    color: white;
    height: 70px;
    width: 120px;
    font-size: 23px;
    font-weight: bold;
    overflow: hidden;
    /* font-family: "VT323", serif; */
}

/* btn stars does nothing currently not working */

.btn-stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.signup-btn {
    position: relative;
    width: 75px;
    height: 75px;
    background-color: #0466c8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}




/* .signup-btn { 
    background-color: #007bff !important;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
} */


/* .custom-py-5 {
    padding-bottom: 0 !important;
} */